<main class="main-container">
  <section class="jumbo-segment">
    <div class="jumbo-segment-background-image about">
    </div>
    <div class="jumbo-segment-content about-content">
      <h1>ABOUT US</h1>
      <h3>An emerging IT consulting/solutions company aiming at providing excellent services through our
        highly professional and capable workforce.</h3>
    </div>
  </section>
  <section class="home-middle-content">
    <div class="middle1 middle-div">
      <h3>Who we are</h3>
      <p>We are an motivated group of engineers who strive to use our expertise and core capabilities in the fields of networking, cloud computing,
        web development, automation and infratsructure development etc. to provide state of the art service to our clients to assist them in
        their various needs. We provide extensive hands-on training to our workforce to enable them to be ready to help our clients in any
      complicated task when and where need be. We take pride in the effort we put into hiring motivated young engineers and training them to
    excel in their respective specializations before they can provide expert service to our customers.</p>
    </div>
    <div class="middle2 middle-div">
      <h3>Services</h3>
      <p>Services at True Solutions LLC range from training to consulting to providing expert services. We provide skilled engineers
         to meet the needs of various customers in the field of cloud engineering, networking and web application development.
         Our engineers are highly trained individuals ready to take on any complex job responsibilities in their respective fields.
         We also provide AWS infrastructure development and Web app development services as start to finish products. To learn more, please
        visit our services page.</p>
        <a href="#"><button type="button" name="button" class="ui huge primary button">Learn More</button></a>
    </div>
    <div class="middle3 middle-div">
      <h3>Careers</h3>
      <p>Our goal here at True Solutions LLC is to provide excellent talent in the field of Information Technology,
        that will best fit the needs of our customers. We work towards gaining customer loyalty, not just customer
        satisfaction and that is what drives us to continue expanding our customer base.</p>
        <a href="#"><button type="button" name="button" class="ui huge primary button">Apply Now</button></a>
    </div>
  </section>
</main>
