<main class="main-container">
  <section class="jumbo-segment">
    <div class="jumbo-segment-background-image home">
    </div>
    <div class="jumbo-segment-content">
      <h1>True Solutions</h1>
      <h3>Providing expertise in modern Information Technology solutions</h3>
      <a href="#!careers"><button type="button" name="button" class="ui huge primary button">Get  Started <i class="right arrow icon"></i></button></a>
    </div>
  </section>
  <section class="home-middle-content">
    <div class="middle1 middle-div">
      <p>Our goal here at True Solutions LLC is to provide excellent talent in the field of Information Technology,
        that will best fit the needs of our customers. We work towards gaining customer loyalty, not just customer
        satisfaction and that is what drives us to continue expanding our customer base.</p>
    </div>
    <div class="middle2 middle-div">
      <h3>Services</h3>
      <p>Services at True Solutions LLC range from training to consulting to providing expert services. We provide skilled engineers
         to meet the needs of various customers in the field of cloud engineering, networking and web application development.
         Our engineers are highly trained individuals ready to take on any complex job responsibilities in their respective fields.
         We also provide AWS infrastructure development and Web app development services as start to finish products. To learn more, please
        visit our services page.</p>
        <a href="#"><button type="button" name="button" class="ui huge primary button">Learn More</button></a>
    </div>
    <div class="middle3 middle-div">
      <h3>Careers</h3>
      <p>Although competitive, the work culture here at True Solutions is very accomodating, respecting and flexible.
      We appreciate the work that our engineers do for us as well as our customers. We are always looking for fresh graduates
      as well as experienced engineers to join our team. So please feel free to look at our careers page which always contains
    most up to date information on all the positions open with us.</p>
        <a href="#"><button type="button" name="button" class="ui huge primary button">Apply Now</button></a>
    </div>
  </section>
</main>
